@page
@model ThePersonalBudgetApp.Pages.IndexModel
@{ }

<h2 class="mt-5">Välj från flikarna vad du vill göra eller välj i menyn nedan:</h2>

<ul>
    <li><a asp-page="/CreateBudget">Skapa ny budget</a></li>
    <li><a asp-page="/WorkOnBudget">Arbeta med befintlig budget</a></li>
    <li><a asp-page="/Download">Ladda ned budget</a></li>
</ul>