@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>
        <b>Name:</b> @HttpContext.Session.GetString("_Name");<b>
            Age:

        </b> @HttpContext.Session.GetInt32("_Age").ToString()
    </p>
</div>
